.App {
  width: 100%;
  max-width: 600px;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

/* Bottom Background Image */
.bottom-background-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  pointer-events: none;
}

.bottom-background-image img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  object-position: bottom;
}

